In [15]:
import pandas as pd

In [18]:
df = pd.read_csv("final_food_delivery_dataset.csv")

df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [19]:
df.shape

(10000, 12)

In [20]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='str')

In [21]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_id           10000 non-null  int64
 1   user_id            10000 non-null  int64
 2   restaurant_id      10000 non-null  int64
 3   order_date         10000 non-null  str
 4   total_amount       10000 non-null  float64
 5   restaurant_name_x  10000 non-null  str
 6   name               10000 non-null  str
 7   city               10000 non-null  str
 8   membership         10000 non-null  str
 9   restaurant_name_y  10000 non-null  str
 10  cuisine            10000 non-null  str
 11  rating             10000 non-null  float64
dtypes: float64(2), int64(3), str(7)
memory usage: 937.6 KB

In [22]:
gold_orders = df[df["membership"] == "Gold"].shape[0]
gold_orders

4987

In [23]:
hyd_revenue = round(df[df["city"] == "Hyderabad"]["total_amount"].sum())
hyd_revenue

1889367

In [24]:
distinct_users = df["user_id"].nunique()
distinct_users

2883

In [25]:
avg_gold_order = round(
    df[df["membership"] == "Gold"]["total_amount"].mean(), 2
)
avg_gold_order

np.float64(797.15)

In [26]:
high_rating_orders = df[df["rating"] >= 4.5].shape[0]
high_rating_orders

3374

In [27]:
gold_city_revenue = (
    df[df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
)

top_gold_city = gold_city_revenue.idxmax()
top_gold_city

'Chennai'

In [28]:
gold_orders_top_city = df[
    (df["membership"] == "Gold") & (df["city"] == top_gold_city)
].shape[0]

gold_orders_top_city

1337

In [29]:
combo_revenue = (
    df.groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

combo_revenue

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [30]:
df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)
df["quarter"] = df["order_date"].dt.to_period("Q")

quarter_revenue = df.groupby("quarter")["total_amount"].sum()
quarter_revenue

quarter
2023Q1    1993425.14
2023Q2    1945348.72
2023Q3    2037385.10
2023Q4    2018263.66
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64